/* 清除内外边距 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 文字不倾斜 */
em,i
{
    font-size: normal;
}
/* 去掉li的小圆点 */
li
{
    list-style: none;
}

img
{
    border: 0;
    /* 取消图片底部空白缝隙问题 */
    vertical-align: middle;
}

button
{
    /* 鼠标经过button，变为小手 */
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}

a
{
    color: #666;
    /* 取消下划线 */
    text-decoration: none;
}

button,input
{
    border: 0;
    outline: none;

}
/*解决浏览器输入框在记住密码后改变颜色问题*/
input:-webkit-autofill {
  /* 自动填充文字颜色 */
  /* -webkit-text-fill-color: #ffffff !important; */
  /* transition: background-color 5000s ease-in-out 0s; */
  /*自动填充背景颜色*/
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}
/* 文本域禁止拖拽 */
textarea {
  outline: none;
    overflow: hidden;
    resize: none;
}