.indexBody {
  margin: 10px auto;
  margin-top: 62px;
  width: 1000px;
  height: 3000px;
  display: flex;
}
/* 左侧身体部分 */
.indexLeftBody {
  background-color: #ffffff;
  width: 694px;
  height: 59px;
  margin-right: 10px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}
.leftNav {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #f0f2f7;
}
.leftNav nav{
  display: flex;
  width: 300px;
  height: 59px;
}
.leftNav nav a {
  color: #121212;
  margin: 0 auto;
  font-size: 15px;
  line-height: 59px;
}
.leftNav nav a:nth-child(2) {
  color: #056de8;
}
.indexLeftBodyBottom {
  width: 100%;
}
.indexLeftBodyBottom ul {
  width: 100%;
}
.indexLeftBodyBottom ul li {
  border-bottom: 1px solid #f0f2f7;
  padding-left: 20px;
  width: 100%;
  height: 100px;
}
.indexLeftBodyBottom ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #121212;
  width: 100%;
  height: 100px;
  line-height: 60px;
}
.indexLeftBodyBottom ul li a:hover {
  color: #175199;
}
.indexLeftBodyBottom ul li div button {
  width: 80px;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  margin-right: 5px;
}
.zantong {
  background-color: #e6f0fd;
  color: #056de8;
}
.zantong:hover {
  background-color:#dae9fc;
}
.alreadyzantong {
  background-color: #175199;
  color: #ffffff;
  display: none;
}
/* 右侧身体部分 */
.indexRightBody {
  width: 296px;
}
.rightBody {
  background-color: #ffffff;
  width: 296px;
  height: 316px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}
.rightBodyTop {
  height: 52px;
    width: 100%;
    line-height: 52px;
    display: flex;
    padding-left: 20px;
}
.rightBodyTop div:nth-child(1) {
  width: 30px;
  text-align: center;
  padding-top: 5px;
  height: 52px;
}
.rightBodyTop div:nth-child(2) {
  width: 190px;
  height: 52px;
}
.rightBodyTop div:nth-child(2) span {
  font-size: 14px;
  font-weight: 500;
  color: #858585;
}
.rightBodyTop div:nth-child(2) a {
  font-size: 12px;
  background-color: #ebf4fd;
  color: #056de8;
  font-weight: 590;
}
.rightBodyTop a:nth-child(3) {
  color: rgb(133, 144, 166);
  font-size: 12px;
}
.rightBodyCenter {
  padding: 8px 0 20px;
    position: relative;
    width: 268px;
    height: 92px;
    margin: 0 auto;
}
.rightBodyCenter button {
  width: 50px;
  height: 64px;
  margin-right: 8px;
  margin-left: 6px;
  font-size: 12px;
  color: #6f6f6f;
}
.rightBodyCenter button div:hover {
  color: #3366a5;
}
.rightBodyCenter button:nth-child(4) {
  margin-right: 0;
}
.rightBodyCenter button div {
  margin-top: 5px;
}
.lunbotu {
  width: 268px;
  height: 98px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
.rightBodyBottom {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(5, 109, 232, 0.5);
  width: 268px;
  height: 40px;
  border-radius: 4px;
  margin: 10px auto;
  font-size: 14px;
  color: rgb(5, 109, 232);
  line-height: 40px;
}
.rightBodyBottom span:nth-child(2) {
  padding-top: 4px;
}
.rightTopBody {
  background-color: #ffffff;
  width: 298px;
  height: 289px;
  margin-top: 10px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}
.rightTopBodyTop {
  font-weight: 500;
  font-size: 14px;
  color: #616161;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  margin-bottom: 23px;
}
.rightTopBodyTop span:first-child {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  margin-right: 5px;
}
.rightCenterBody {
  margin-top: 10px;
  width: 296px;
  height: 275px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
  background-color: #ffffff;
}
.rightCenterBody > a img {
  width: 100%;
  height: 100px;
}
.rightCenterBody ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 -5px;
  padding: 0 10px;
}
.rightCenterBody ul li {
  width: 33%;
  margin-bottom: 25px;
  display: flex;
}
.rightCenterBody ul li a {
  margin: 0 auto;
}
.rightCenterBody ul li a span:hover {
  color: #056de8;
}
.rightCenterBody ul li a div {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.rightCenterBody ul li a span {
  color: #8590a6;
  margin-top: 20px;
}
.rightBottomBody {
  width: 296px;
  height: 336px;
  box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 10px;
}
.rightBottomBody ul li {
  width: 100%;
  height: 40px;
}
.rightBottomBody ul li a {
  display: flex;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: #9ca4b6;
  font-size: 14px;
}
.rightBottomBody ul li a:hover {
  background-color: #f6f6f6;
}
.rightBottomBody ul li a div {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}